/**
 * Style for the minimum height of the <body> tag
 * @author Renz
 */
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

.scrollToTop{
    position: fixed;
    bottom: 80px;
    right: 50px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    background: #0063e8;
    color: #fff;
    border: none;
    border-radius: 50%;
    display: none;
    z-index: 99;
}

.scrollToTop:hover{
    background: #eee;
}

a { text-decoration: none; }
/*
    NAVIGATION CSS!!!
    NAVIGATION CSS!!!
*/
.navbar{
    border-radius: 0;
    margin-bottom: 0;
}

/*
    CONTAINERS page!!!
    CONTAINERS page!!!
*/
#loginContainer{
    max-width: 500px;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: #f1f1f1 5px;
}

#fpContainer{
    width: 70%;
    padding: 15px;
    margin-top: 10px;
    border: 2px solid #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: #f1f1f1 5px;
}
/*
    NAVIGATION CSS!!!
    NAVIGATION CSS!!!
*/

nav{
    background: rgba(0,0,0,0.8);
}

nav.black{
    background: rgba(0,0,0,1);
    height: 20px;
    padding: 30px 10px;
}

section.headerTitle{
    background: url(img/manila-skyline.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: fixed;
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
}

.textHeaderTitle{
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

@keyframes text{
    0%{
        color: black;
        margin-bottom: -20px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -20px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -20px;
    }
}

.textHeaderTitle p{
    display: block;
    letter-spacing: 8px;
    position: relative;
    background: transparent;
    animation: text 3s 1;
}

@media(max-width: 544px){
    .textHeaderTitle p:nth-child(1){
        font-size: 15px;
        letter-spacing: 2px;
    }

    .textHeaderTitle p:nth-child(2){
        font-size: 35px;
        letter-spacing: 2px;
    }

    .textHeaderTitle p:nth-child(3){
        font-size: 10px;
        letter-spacing: 2px;
    }

}

@media(max-width: 768px){
    .textHeaderTitle p:nth-child(1){
        font-size: 15px;
        letter-spacing: 3px;
    }

    .textHeaderTitle p:nth-child(2){
        font-size: 35px;
        letter-spacing: 3px;
    }

    .textHeaderTitle p:nth-child(3){
        font-size: 10px;
        letter-spacing: 5px;
    }

}

/*
    CAROUSEL CSS!!!
    CAROUSEL CSS!!!
*/

#myCarousel{
    height: 100%;
    width: 100%;
    /*background: #B6DBB6;*/
}

/* section church*/
section.church{
    background: url(img/1200px-Immaculate_Conception_Church_Dasmarinas.jpg);
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.aboutSalitran{
    background: url(img/kawit.jpg);
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contactUs-bg-diagonal{
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(img/map.PNG);
    border-left: 200px solid white;
    border-top: 700px solid transparent;
    background-position: fixed;
}

#contactUs-content-box{
    float: left;
    height: 700px;
}

#contactUs-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}

#contactUs-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

.bg-parallax{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#contactUs .content-title h3{
    text-align: left;
    font-weight: bold;
}

#contactUs-desc h6{
    margin-bottom: 30px;
}

/* FORGOT PASSWORD STYLE */

#security-question-form{
    width: 80%;
    margin: 20px auto;
}

#email-form{
    width: 70%;
    margin: 80px auto;
}

#fpContainer .carousel .carousel-inner{
    width: 100%;
    height: 450px;
}

#con-security-question-form{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* RESULT DISPLAY */
.error{
    color: red;
    font-size: 0.8em;
}
.form-error {
    width: 92%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.form-success {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
    width: 92%;
    text-align: center;
}

.input-error{
    border: 1px solid red;
}

input[type=text] , input[type=password] , input[type=email]{
    border-color: rgba(34, 34, 34, 0.65);
}

#reg-securityquestionone, #reg-securityquestiontwo, #reg-suffix, #reg-prefix{
    border-color: rgba(34, 34, 34, 0.65);
}

/* PROFILE CSS!!
PROFILE CSS!!
PROFILE CSS!! */

/* PROFILE INFO */
#titleProfile{
    margin-bottom: 10px;
}

#profile-bg-diagonal{
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(img/Pencil.jpg);
    /*border-left: 200px solid white;
    border-top: 700px solid transparent;*/
    background-position: fixed;
}

#profile-content-box{
    float: left;
    height: 700px;
}

#profile-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}

#profile-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

#profile .content-title h3{
    text-align: left;
    font-weight: bold;
}

#profile-desc h6{
    margin-bottom: 30px;
}

.btn-primary-design{
    padding: 15px 70px;
    border: none;
    border-radius: 0;
}
/* PROFILE APPOINTMENT */
#appointment{
    margin-top: 10px;
}
#appointment-bg-diagonal{
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(img/appointment.jpg);
    border-left: 200px solid white;
    border-top: 700px solid transparent;
    background-position: fixed;
}

#appointment-content-box{
    float: left;
    height: 700px;
}

#appointment-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}

#appointment-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

#appointment .content-title h3{
    text-align: left;
    font-weight: bold;
}

#appointment-desc{
    margin-bottom: 30px;
}

.btn-primary-design{
    padding: 15px 70px;
    border: none;
    border-radius: 0;
}

/* PROFILE REQUEST FORM */
#requestForm{
    margin-top: 10px;
}
#requestForm-bg-diagonal{
    width: 60%;
    height: 700px;
    float: left;
    background-image: url(img/forms_banner.jpg);
    border-right: 200px solid white;
    border-top: 700px solid transparent;
    background-position: fixed;
}

#requestForm-content-box{
    float: right;
    height: 700px;
}

#requestForm-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}

#requestForm-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

#requestForm .content-title h3{
    text-align: left;
    font-weight: bold;
}

#requestForm-desc{
    margin-bottom: 30px;
}

.btn-primary-design{
    padding: 15px 70px;
    border: none;
    border-radius: 0;
}

/* PROFILE APPOINTMENT */
#relationship{
    margin-top: 10px;
}
#relationship-bg-diagonal{
    width: 60%;
    height: 700px;
    float: left;
    background-image: url(img/family.jpg);
    background-position: fixed;
}

#relationship-content-box{
    float: right;
    height: 700px;
}

#relationship-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}

#relationship-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

#relationship .content-title h3{
    text-align: left;
    font-weight: bold;
}

#relationship-desc h6{
    margin-bottom: 30px;
}

.btn-primary-design{
    padding: 15px 70px;
    border: none;
    border-radius: 0;
}

/* APPOINTMENT */
#appointmentBtnEdit{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#appointmentBtnEdit i{
    transition: transform .01s;
}

#appointmentBtnEdit i:hover{
    transform: scale(1.5);
}

#appointmentBtnDel{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#appointmentBtnDel i{
    transition: transform .01s;
}

#appointmentBtnDel i:hover{
    transform: scale(1.5);
}

#relationshipBtnEdit{
    background-color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#relationshipBtnEdit i{
    transition: transform .01s;
}

#relationshipBtnEdit i:hover{
    transform: scale(1.5);
}

#relationshipBtnDel{
    background-color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#relationshipBtnDel i{
    transition: transform .01s;
}

#relationshipBtnDel i:hover{
    transform: scale(1.5);
}

#relationshipBtnSetPrimary{
    background-color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#relationshipBtnSetPrimary i{
    transition: transform .01s;
}

#relationshipBtnSetPrimary i:hover{
    transform: scale(1.5);
}
/* REGISTRATION */

#register{
    margin-top: 10px;
}
#register-bg-diagonal{
    width: 40%;
    height: 900px;
    float: right;
    background-image: url(img/sign-up-text-on-keyboard-button_2227-378.jpg);
    background-position: fixed;
}

#register-content-box{
    float: left;
    height: 900px;
}

#register-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}

#register-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

#register .content-title h3{
    text-align: left;
    font-weight: bold;
}

#register-desc h6{
    margin-bottom: 30px;
}

#registerPersonal{
    margin-top: 10px;
}
#registerPersonal-bg-diagonal{
    width: 40%;
    height: 1000px;
    float: left;
    background-image: url(img/volunteer-1020x549.jpg);
    background-position: fixed;
}

#registerPersonal-content-box{
    float: right;
    height: 1000px;
}

#registerPersonal-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}

#registerPersonal-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

#registerPersonal .content-title h3{
    text-align: left;
    font-weight: bold;
}

#registerPersonal-desc h6{
    margin-bottom: 30px;
}
/* FOOTER */
section {
    display: relative;
}
footer{
    display: relative;
}

/* login form */

#signIn{
    margin-top: 10px;
    margin-bottom: 10px;
}
#signIn-bg-diagonal{
    width: 60%;
    height: 700px;
    float: left;
    background-image: url(img/pic-jumbotron.jpg);
    border-right: 200px solid white;
    border-top: 700px solid transparent;
    background-position: fixed;
}

#signIn-content-box{
    float: right;
    height: 700px;
}

#signIn-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}

#signIn-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}

#signIn .content-title h3{
    text-align: left;
    font-weight: bold;
}

#signIn-desc{
    margin-bottom: 30px;
}

.btn-primary-design{
    padding: 15px 70px;
    border: none;
    border-radius: 0;
}

/* CONTACT MODALS */

#complaintModal{
    margin-top: -20px;
}

#complaintModal .modal-dialog{
    overflow-y: initial !important
}

#complaintModal .modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
